/* declaring my CSS variables in my :root pseudo class */
:root{
    --darkblue: #13293d;
    --lightblue: #00ffff;
    --white: #fef;
}

/* Setting the universal selector  */
*{
    font-size: 16px;
    padding: 0px;
}

/* Added 'scroll-behavior' to make links scroll smooth when clicked, instead of jumping. */
html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


header{
    display: grid;
    /* Created a grid with 2 columns and 1 row */
    grid-template-columns: 50% 50%;
    background-color: var(--darkblue);
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}

/* I'm giving the title of my header a background-color and proper alignment */
header h1{
    display: flex;
    justify-content: flex-start;
    font-size: 250%;
    align-self: center;
    background-color: var(--lightblue);
    color: var(--darkblue);
    margin-right: 187px;
    padding-left: 63px;
    padding-bottom: 4px;
}
/* I'm changing the unordered list to align horizontally instead of vertically */
header nav ul{
    display: flex;
    justify-content: flex-end;
    margin-top: 36px;
    margin-right: *;
}

header nav ul li{
    /* removed the bullet points from the unordered list */
    list-style-type: none;
}
 header nav ul li a{
     /* removed the underline from the a tag links */
     text-decoration: underline;
     font-size: 150%;
     color: var(--lightblue);
     margin: 24px;
 }

 main{
     display: flex;
     flex-direction: column;
 }

 main section{
     display: grid;
     /* Created a grid with the first column taking up 25% of the width and the second taking up the rest. */
     grid-template-columns: 25% auto;
     
 }

 main section .articles{
     display: grid;
     /* Created a grid with 2 columns and 4 rows; */
     grid-template-columns: 32rem 32rem;
     grid-template-rows: 15rem 12rem 12rem 12rem;
     position:  relative;
 } 

 /* Modifiers for my project's links */
 main section .articles a{
     display: block;
     width: 100%;
     height: 100%;
     text-decoration: none;
     border: var(--darkblue) 5px solid;
     background-size: cover;
     background-position: center;
     
 }

 main section .articles #project-1{
     /* I targeted the first project on my webpage.
        I made the first project cover the first and second row and columns
        of the grid, in order to make it larger than the rest of the projects. */
     grid-column: 1 / 3;
     grid-row: 1 / 3;   
 }

 /* I put a background-image for my atags so when someone clicks on the 
 picture it will take them to the project link */
 main section .articles #project-1 a{
    background-image: url("../images/project-1-image.jpg");
    background-size:cover;
    font-size: 150%;
 }

 main section .articles #project-2 a{
    background-image: url("../images/project2-image.jpg");   
 }

 main section .articles #project-3 a{
    background-image: url("../images/project3-image.jpg");  
 }

 main section .articles #project-4 a{
    background-image: url("../images/project4-image.jpg");
    background-position: inherit;   
 }

 main section .articles #project-5 a{
    background-image: url("../images/project5-image.jpg");
 }

 /* Modifying the figcaption in my atag for the project links */
main section .articles #project-1 .p1-label{
    font-size: 150%;
    margin-top: 22rem;
    margin-right: 52rem;
    padding: 1rem;
    background-color: var(--lightblue);
    border: var(--darkblue) 3px solid;
    border-radius: 8px;
}

 /* Modifying the figcaption in my atag for the project links */
main section .articles .p2345-label{
    font-size: 140%;
    margin-top: 8rem;
    margin-right: 23rem;
    padding: 1rem;
    background-color: var(--lightblue);
    border: var(--darkblue) 3px solid;
    border-radius: 8px;
}

/* Added a background image to my first section of my portfolio */
main .section-1{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    height: 800px;
    width: 100%;
    background-image: url("../images/background-image-1.jpg");
    background-size: 694px;
    background-position: center;
}

main .section-4{
    margin-top: 200px;
} 

 main .section-1 img{
    height: 512px;
    width: 512px;
    margin-top: 145px;
    border: var(--darkblue) 3px solid;
}

main section p{
    text-align: start;
}

main section .contacts{
    display: flex;
} 